a:link,a:visited,a:active {
	color:#436AA9;
	text-decoration:none;
}

a:hover {
	color:#93DB70;
	text-decoration:none;
}

body {
	background-image:url(/images/geometry.png);
	font-family:Essays1743;
}

.content {
	background-color:rgba(67,106,169,.5);
	color:#FFF;
	float: right;
	height:100px;
	margin-left:25px;
	width:250px;
}

#create,#new_acct {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background-color:rgba(67,106,169,.5);
	border:none;
	border-radius:8px;
	color:#FFF;
	height:25px;
	margin-left:100px;
	width:100px;
}

.failtext {
	color:red;
}

.followImg {
	-moz-border-radius:75px;
	-webkit-border-radius:75px;
	background-repeat:no-repeat;
	background-size:75px 75px;
	border-radius:75px;
	height:75px;
	margin:auto;
	width:75px;
}

.followInfo {
	margin:auto;
	text-align:center;
}

#followTable,td {
	margin:auto;
	padding-left:25px;
	padding-right:25px;
	padding-top:10px;
	text-align:center;
}

@font-face {
	font-family:Essays1743;
	src:url(/fonts/Essays1743.ttf) format(truetype);
}

h1,h2,h3,h4,h5 {
	display:inline;
	font-family:Essays1743;
}

.page_form {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background-color:rgba(67,106,169,.5);
	border:none;
	border-radius:8px;
	color:#FFF;
	float:right;
	font-size:15px;
	margin-left:2%;
	padding:3px;
	width:200px;
}

.plusones {
	text-align: center;

}

.post_buttons {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background-color:rgba(67,106,169,.5);
	border:none;
	border-radius:8px;
	color:#FFF;
	float:right;
	height:25px;
	margin-left:25px;
	width:75px;
}

.left {
	margin-left: 0;
	left: 0px;

}

#login {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background-color:rgba(67,106,169,.5);
	border:none;
	border-radius:8px;
	color:#FFF;
	float:right;
	height:25px;
	margin-left:68px;
	width:75px;
}

#myPosts {
	margin-left:65%;
}

#navi {
	background-color: #93DB70;
	border-bottom: 7px solid #FFDD55;
	left: 0em;
	position: fixed;
	text-align:center;
	top: 0em;
	width: 100%;
}

#navi_ul li {
	display:inline;
	font-size:1.2em;
	padding:25px;
}

#navi_ul li a:hover {
	color: yellow;
}

#navi_ul {
	margin:auto;
	padding-left:0;
}

.post {
	-moz-border-radius:250px;
	-webkit-border-radius:250px;
	background:#93DB70;
	border-radius:250px;
	color:#333;
	font-size:.90em;
	height:250px;
	text-align:center;
	width:250px;
}

.sm_avatar {
	-moz-border-radius:75px;
	-webkit-border-radius:75px;
	border-radius:75px;
	float:left;
	height:75px;
	width:75px;
}

#radial {
	-moz-border-radius:500px;
	-webkit-border-radius:500px;
	background:#93DB70;
	border-radius:500px;
	height:500px;
	margin:auto;
	width:500px;
}

#radial_center {
	margin-left:100px;
	margin-right:100px;
	text-align:justify;
}

#radial_profile {
	-moz-border-radius:500px;
	-webkit-border-radius:500px;
	background:#93DB70;
	border-radius:500px;
	height:500px;
	margin-left: 10%;
	position:fixed;
	width:500px;
}

#radial_profile_img {
	-moz-border-radius:150px;
	-webkit-border-radius:150px;
	border-radius:150px;
	float:left;
	height:150px;
	width:150px;
}

.reg_avatar {
	-moz-border-radius:150px;
	-webkit-border-radius:150px;
	border-radius:150px;
	float:left;
	height:150px;
	width:150px;
}